/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 5, 2014, 8:51:14 AM
    Author     : nickdecker
*/ 

@white: #eee;
@superWhite: #fff;
@blue: #009dd7;
@lightBlue: #01bcf2;
@black: #000;
@impulseOrange: #f6861f;


/* Website setup stuffs for styling */
body { background: #000 url(wp-content/themes/yoo_master2_wp2/styles/Impulse/images/nln_background.jpg) no-repeat;
       background-position: top 175px center; 
       font-family: Arial, sans-serif;
       color: @white; }
a, a:visited { color: @blue; }
h1, h2, h3, h4, h5, h6 { color: @superWhite;}

/* Header */
.logoMain { width: 30%; }



/* Menu */
nav { text-align: center; }
.tm-navbar { }
.uk-navbar { background: none; }
.uk-navbar-nav { float:initial; display: inline-block; }
.uk-navbar-nav>li { }
.uk-navbar-nav>li:hover>a { background: @blue; color: @superWhite; border-radius: 4px; }
.uk-navbar-nav>li>a { background: none; color: @white; font-weight: 700; margin: auto 5px; }
.uk-navbar-nav>li.uk-active>a { border-radius: 4px; background: @blue; color: @superWhite; }



/* Featured Slider */

#featuredSlider { }
#featuredSlider .res_slider { background: @lightBlue; }
#featuredSlider img { }
#featuredSlider h2 { color: @superWhite; font-size: 110%;}
#featuredSlider h3 { color: @superWhite; font-size: 100%; }
#featuredSlider span.dark { color: @black; }







/* Admin */
