/* Copyright (C) YOOtheme GmbH, http://www.gnu.org/licenses/gpl.html GNU/GPL */

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300';

// Variables
// ========================================================================

//
// Spacings
//


// Xdebug
th { background: #01bcf2!important; }
th span { color: #fff!important; background: #000!important; }
//td { color: #000!important; }
@global-margin: 20px;
@global-large-margin: 30px;

//
// Text
//

@global-link-color: #1fa2d6;
@global-link-hover-color: #0074a2;

//
// Backgrounds & Borders
//

@global-primary-gradient-top: #5cc0ea;
@global-primary-gradient-bottom: #4cacd7;

//
// Base
//

@base-h1-font-size: round(@global-font-size * 2.85); // 40px
@base-h1-line-height: round(@base-h1-font-size * 1.25); // 50px
@base-h2-font-size: round(@global-font-size * 2.28); // 32px
@base-h2-line-height: round(@base-h2-font-size * 1.25); // 40px
@base-h3-font-size: round(@global-font-size * 1.71); // 24px
@base-h3-line-height: round(@base-h3-font-size * 1.25); // 30px
@base-h4-font-size: round(@global-font-size * 1.28); // 18px
@base-h4-line-height: round(@base-h4-font-size * 1.33); // 24px
@base-selection-background: #1fa2d6;
@base-body-font-family: 'Open Sans';
@base-heading-font-family: 'Open Sans';
@base-heading-font-weight: 300;

//
// Panel
//

@panel-box-primary-background: #eefaff;
@panel-box-primary-color: #699eb3;
@panel-box-primary-title-color: #3484a4;

//
// Article
//

@article-title-font-weight: 300;

//
// Nav
//

@nav-padding-horizontal: 20px;
@nav-side-active-box-shadow: rgba(0,69,109,0.25);
@nav-dropdown-hover-box-shadow: rgba(0,69,109,0.25);
@nav-navbar-hover-box-shadow: rgba(0,69,109,0.25);
@nav-search-active-box-shadow: rgba(0,69,109,0.25);

//
// Navbar
//

@navbar-nav-height: 45px;

//
// Button
//

@button-primary-hover-background: #53b5de;
@button-primary-active-background: #359ac4;

//
// Icon
//

@icon-button-hover-color: @global-link-hover-color;

//
// Badge
//

@badge-font-size: 11px;
@badge-font-weight: normal;

//
// Thumbnail
//

@thumbnail-background: #fff;

//
// Dropdown
//

@dropdown-width: 220px;

//
// Utility
//

@utility-heading-large-font-size: round(@global-font-size * 3.71); // 52px
@utility-heading-large-line-height: round(@utility-heading-large-font-size * 1.23); // 64px


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 5, 2014, 8:51:14 AM
    Author     : nickdecker
*/ 

@white: #eee;
@superWhite: #fff;
@blue: #009dd7;
@lightBlue: #01bcf2;
@black: #000;
@impulseOrange: #f6861f;


/* Website setup stuffs for styling */
html { color: efefef; }
body { background: #000 url(http://local.dev.com/napleslivenow/wp-content/themes/yoo_master2_wp2/styles/Impulse/images/nln_background.jpg) fixed no-repeat;
       background-position: top 175px center; 
       font-family: 'Open Sans', Arial, sans-serif;
       color: @white; }

a, a:visited { color: @blue; }
h1, h2, h3, h4, h5, h6 { color: @superWhite;}
aside h1, aside h2, aside h3 { color: @lightBlue; }
main.tm-content { max-width: 800px; width: 800px; display: inline-block; vertical-align: top; }
aside.sidebar { max-width: 300px; width: 290px; margin: 0 0 0 30px; display: inline-block; vertical-align: top; background: rgba(255,255,255,0.96); border-radius: 9px; color: @black; }
.widget { margin: 20px; }
.tm-main>:nth-child(n+2) { margin-top: 0; }
.blue-text { color: #0097ce; }
.orange-text  {color: #ffce31; }
#venue-this-week h4, h4.small-title { display: block; vertical-align: top; margin: 9px 0 5px 25px; font-weight: 700; font-size: 1.6em; }
.fRight { float: right; }
.fLeft { float: left; }
.column { display: inline-block; width: 49%; vertical-align: top; }
input, select { margin: 1px; padding: 3px 5px; }
.input-spacer { width: 125px; display: inline-block; }
.hidden-field { display: none; }
/* Remove Sidebar */

body.isvenue main.tm-content, body.tribe-events-page-template main.tm-content { width: 100%; max-width: 100%; }
body.tribe-events-page-template .uk-article-title, body.isvenue .uk-article-title { display: none; }
body.tribe-events-page-template *, body.isvenue main.tm-content * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Header */
.logoMain { width: 30%; }


/* Sidebar */
.filter { display: block; cursor: pointer; }
.filter h2 {  font-size: 20px; position: relative; margin: 0 0 0 19px; }
.filter h2.normal:before { position: absolute; top: 12px; left: -15px; content: ' '; width: 0; height: 0; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-left: 7px solid @blue; }
.filter h2.expand:before { position: absolute; top: 17px; left: -19px; content: ' '; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid @blue; }
.filter div { display: inline-block; line-height: 27px; margin: 5px 0; cursor: pointer; }
.filter label { font-size: 18px; letter-spacing: 1px; display: block; }
.filter label input { margin: 0 6px 5px 0; vertical-align: middle; }

.filter div.filter-options { display: none; }


/* Menu */
nav { text-align: center; }
.tm-navbar { }
.uk-navbar { background: none; }
.uk-navbar-nav { float:initial; display: inline-block; }
.uk-navbar-nav>li { }
.uk-navbar-nav>li:hover>a { background: @blue; color: @superWhite; border-radius: 4px; }
.uk-navbar-nav>li>a { background: none; color: @white; font-weight: 700; margin: auto 5px; }
.uk-navbar-nav>li.uk-active>a { border-radius: 4px; background: @blue; color: @superWhite; }
.uk-navbar-nav>li.uk-open>a { background: #009dd7; border-radius: 4px; color: #fff; }



/* Featured Slider */

#featuredSlider { }
#featuredSlider .res_slider { background: @lightBlue; }
#featuredSlider img { }
#featuredSlider h2 { color: @superWhite; font-size: 110%;}
#featuredSlider h3 { color: @superWhite; font-size: 100%; }
#featuredSlider span.dark { color: @black; }







/* Admin */


/* Venues */

.venue { margin-top: 10px;  background: rgba(255,255,255,0.96); color: #000; border-radius: 9px; margin-bottom: 20px; overflow: hidden; }
.venueImage, .venueDetails { display: inline-block; }
.venueImage { max-height: 250px; overflow: hidden; vertical-align: top; width: 100%; }
.venueImage img { width: 100%; border-radius: 9px 0 0 9px; }
.venue .logo { float: right; width: 20%;  }
.venue .logo img { border-radius: 0 9px 0 0; }
.venue .hours { font-size: 90%; }
.venueDetails { margin-left: 7px; padding: 10px 15px; }
.venueDetails h2 a { font-family: Open Sans, arial, sans-serif; color: #6fa032; font-size: 150%; line-height: normal; margin: 3px 0 0 0; font-weight: 500; }
.venueDetails * { margin: 0; }
.venueDetails h3 { font-size: 140%; color: #000; }
.venueDetails h4 { font-size: 130%; color: #000; }
.venueDetails h5 { font-size: 120%; color: #000; }
.venueDetails h5 a { color: #000; }
.venueDetails p { font-size: 110%; color: #000; }
.venueDetails span.title { color: #4B7035; }
.venueDetails .options .priceRange { font-weight: 700; color: #4B7035; }
.venueDetails .mealType { font-size: 70%; color: #000; }
.venueDetails .venueFlag { margin-top: 8px; }
.venueDetails .flags { width: 100%; overflow: hidden; font-size: 90%; }
.die { float: right; margin-top: 20px; font-style: italic; background: rgba(0,0,0,0.5); padding: 4px; border-radius: 9px; }


/* happy hour */

#favorite-hh { margin-bottom: 30px; background: #efefef; padding: 25px; border-radius: 15px; text-align: center; position: relative; }
#favorite-hh #hh-icon { position: absolute; left: 30px; z-index:20; margin-top: -90px; }
#favorite-hh, #favorite-hh h2 { color: #000; }
#favorite-hh h2:before { }
#favorite-hh h2 { margin-top: 0; }
#favorite-hh-form { display: inline-block; position: relative; }
#favorite-hh-form:before { content: 'Select Your Favorite'; position: absolute; left: -105px; background: #009dd7; width: 100px; color: #efefef; padding: 8.5px; border-radius: 4px 0 0 4px; margin-top: ; }

#favorite-hh #select-your-favorite { background: #009dd7; padding: 11px; border-radius: 0 4px 4px 0; }
#favorite-hh-form input { display: none; }
#favorite-hh-form label { padding: 15px;  cursor: pointer; font-weight: 700; }
#favorite-hh-form label.active { background: #1fa2d6; border-radius: 4px; }
#hh-data { border-radius: 0 0 15px 15px; padding: 0 25px 25px 25px;  background: #efefef; }
//.best-hh { background: #efefef; padding: 25px; }
.best-hh h2 {  text-align: center; background: #009dd7; padding: 25px 25px 15px 25px; border-radius: 15px 15px 0 0; margin-bottom: 0;}
#best-hh-data { width: 100%; }
#best-hh-data thead td {  color: #efefef; }
#best-hh-data td {  color: #000; font-size: 1.3em; }
#best-hh-data td.venue-name { color: #009dd7; font-size: 1.6em;  }
#best-hh-data tr:nth-child(2n + 2) { border-bottom: 1px solid #000; }
#best-hh-data tr:last-child { border-bottom: none; }
#best-hh-data thead { background: #0097ce; display: none; }
.active, #favorite-hh-form label:hover { background: #009dd7!important; color: #efefef; border-radius: 4px; }
.imc main.tm-content { width: 100%; max-width: 100%;}

/* Venue Page */ 


#venue-main { color: #000; margin-bottom: 40px; }  
#venue-main-bottom { padding: 15px; background: #94ca51; border-radius: 0 0 15px 15px; }
#venue-main p { font-size: 1.4em; margin: 0; line-height: 1.3em; }
#venue-image {} 
#venue-image img { border-radius: 15px 15px 0 0; }
.venue-main-details { width: 60%; display: inline-block; vertical-align: top; }
.venue-main-details h1 { display: inline-block; font-weight: 400; margin-bottom: 0; }
.venue-main-details .venue-cuisine { font-size: 1.4em; margin-left: 10px; color: #efefef; }

.venue-image-details { display: inline-block; width: 39%; }
.additional-images {}
.venue-thumbnail-container { display: inline-block; width: 50px; height: 50px; overflow: hidden; margin-right: 10px; }
.venue-thumbnail { cursor: pointer; width: auto; height: auto; max-width: 175px; max-height: 150px; }
.social { }

#venue-second { background: #009fd9; border-radius: 15px; float: left; width: 100%; }

.map-details { width: 35%; display: inline-block; float: left; overflow: hidden; }
.map-details img.map-image { border-radius: 15px 0 0 0; border-bottom: 8px solid #94ca51; }
#venue-map-details { position: relative; padding: 15px; border-radius: 0 0 0 15px; background: #efefef; color: #000; width: 35%; display: inline-block; float: left; }
#venue-map-details h2 { color: #000; margin-left: 25px; display: inline; font-weight: 400; }
#venue-map-details img { position: absolute; }
#venue-map-details p { margin: 0; }
#venue-map-details p span { font-size: 1.3em; }
.details {}
.venue-excitement { width: 65%; display: inline-block; vertical-align: top; float:right; padding: 15px; min-height: 360px; }
.venue-excitement h3 { font-size: 2.9em; text-align: center; margin: 20px 0 35px 0; font-weight: 600; }
.venue-excitement .title { font-size: 1.9em; }
.venue-excitement .hh-insert { position: relative; }
.hh-container { display: none; }
.venue-excitement #hh-live, .venue-excitement .entertainment { font-size: 1.8em; line-height: 1.6em; color: #000; font-style: italic; margin-left: 20px; }
.venue-excitement #hh-live .old-price { position: relative; text-decoration: line-through; }




#venue-this-week { }
.half-venue { width: 55%; background: #efefef; border-radius: 15px; float: right; margin-top: 45px; padding: 20px; }
#venue-hh.half-venue { float: left; width: 43%; }
#venue-this-week .icon { float: left; margin-right: 10px; }
#venue-this-week .title { margin-left:25px; vertical-align: top; }

#venue-this-week #hh-specials { margin-top: 35px; color: #000; }
#venue-this-week .left { width: 21%; margin-top: 5px; vertical-align: top; font-size: 1.3em; text-align: right; margin-right: 10px; }
#venue-this-week .right { width: 76%; font-size: 1.2em; font-style: italic; min-height: 48px; }
#venue-this-week .left, #venue-this-week .right { color: #000; display: inline-block; }
#venue-this-week .right .old-price { display: none; }
#venue-this-week .right .new-price { color: #0097ce; }
#venue-this-week .hh-container { display: block; }
#venue-this-week .hh-container > span { display: block; margin-bottom: 5px;  }
#hhs { display: none; }





/* Events */
#tribe-events-content { position: relative; }

body.tribe-events-page-template { }

#events-summary { background: #ffce31; border-radius: 15px; color: #000; width: 100%; margin-bottom: 45px;  min-height: 250px; }

#events-totals { background: #ffce31; border-radius: 15px; position: relative; width: 100%; }
#events-totals #events-week { border-radius: 15px 0 0 15px; }
#events-totals > div { min-height: 250px; width: 33%; float: left; padding: 25px; }
#events-totals #events-week, #events-totals #events-middle { background: #efefef; }
.music-icon { position: absolute; top: -45px; left: 45px; }
.events-text { margin-top: 40px; }
#events-totals #events-right { background: #ffce31; color: #000; }
#events-totals #events-right h4 { color: #000; }

#featured-event { background: #efefef; border-radius: 15px; padding: 25px; color: #000; margin-bottom: 45px;  }
#featured-event h2 { font-weight: 700; }
#featured-event h3 { color: #000; }
#tribe-events-pg-template { max-width: 1130px; }
#tribe-events-bar { margin-top: 45px; }
#tribe-bar-form { border-radius: 15px; background: #efefef!important; padding: 25px; }
h2.tribe-events-page-title { display: none; }
.tribe-events-list-separator-month { display: none; }
.tribe-events-loop .vevent { width: 48%; display: inline-block; font-size: 1.4em; }
.tribe-events-loop .vevent:nth-child(odd) { margin-left: 3%; }
.tribe-events-loop { padding: 25px; border-radius: 15px; color: #000; background: #efefef; }
.tribe-events-list .tribe-events-event-cost span { margin-right: 15px; background: #ffce31; }
#tribe-events-content table.tribe-events-calendar { background: #efefef; border-radius: 15px; border: none!important; }
table.tribe-events-calendar th { border: none!important; }
.tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a { background: none!important; color: #ffce31; font-size: 1.4em; }
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"]>a { color: #ffce31; }
#tribe-events-monday { border-radius: 15px 0 0 0; }
#tribe-events-content .tribe-events-calendar div[id*="tribe-events-event-"] h3.tribe-events-month-event-title { text-align: center; }
#tribe-events-content .tribe-events-calendar td { height: 130px; }
.tribe-events-calendar th, .table-condensed th { background: #efefef!important; color: #000!important; }
.tribe-events-calendar h3 > a, .tribe-events-calendar h3 > a:visited { color: #000!important; }
.tribe-events-calendar h3 > a:hover { color: #ffce31!important; }
.tribe-events-othermonth, .tribe-events-past { background: #ffe698!important; margin-bottom: 10px; }
.tribe-events-nav-previous.tribe-events-nav-left.tribe-events-past { background: none!important; margin-top: 15px!important; }
.tribe-bar-views-inner { background: none; }
#tribe-bar-form label { color: #000; }
#tribe-bar-views .tribe-bar-views-list { background: #fff; }
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a { background: none; }
//.tribe-events-present { background: url(http://local.dev.com/napleslivenow/wp-content/plugins/in-my-city/images/event-icon.png) right top no-repeat; }
//.tribe-events-present:hover { background: url(http://local.dev.com/napleslivenow/wp-content/plugins/in-my-city/images/event-icon.png) left bottom no-repeat!important; }
.tribe-events-present { position: relative; }
.tribe-events-present:before { content: url(http://local.dev.com/napleslivenow/wp-content/plugins/in-my-city/images/event-icon.png); position:absolute; width: 75px; height: 104px; top: -70px; left: 45px;  }
.tribe-events-calendar tr:last-child > td:first-child { border-bottom: none!important; border-left: none!important; }
.tribe-events-calendar:last-child:first-child { background: green!important; }
.tribe-events-calendar tr:last-child > td:last-child { border-bottom: none!important; border-right: none!important; border-radius: 0 0 15px 0;}
.tribe-events-calendar tr:last-child > td { border-bottom: none!important; }
.tribe-events-calendar tr > td:last-child { border-right: none!important; }
.tribe-events-calendar tr > td:first-child { border-left: none!important; }
.tribe-events-calendar tr > th:last-child { border-radius: 0 15px 0 0; }
#tribe-events-content .tribe-events-calendar tr:last-child td:first-child:hover { border-radius: 0 0 0 15px; }
#tribe-events-content .tribe-events-calendar tr:last-child td:last-child:hover { border-radius: 0 0 15px 0; }
.tribe-events-nav-previous span, .tribe-events-nav-next span, .tribe-events-nav-previous a, .tribe-events-nav-next a { color: #ffce31; }
#tribe-events-bar { margin-top: 0; }
#tribe-bar-form .tribe-bar-submit input[type=submit] { background: #ffce31; color: #000; margin-top:11px;  }
#tribe-bar-form input[type="text"] { color: #000; background: #fff; padding: 8px; border: none; }
.tribe-events-list .time-details, .tribe-events-list .tribe-events-venue-details { font-size: 1.4em; font-weight: normal; line-height: 1.4em; }
#tribe-events-content a, .tribe-events-event-meta a { font-weight: 500; }
.tribe-events-list .tribe-events-event-image { float: right; margin: 0 0 0 3%; }
.tribe-events-page-template .tm-middle.uk-grid a, .tribe-events-page-template .tm-middle.uk-grid a:visited { color: #ffce31; }
.tribe-events-page-template h2 a { color: #000!important;  }
.tribe-events-page-template .column label { display: inline-block; font-weight: 700; } 

.tribe-events-single { background: #efefef; padding: 25px!important; border-radius: 15px; color: #000; }
.tribe-events-single h2, .tribe-events-single h3 { color: #000;  }
.single-tribe_events .tribe-events-event-meta { border: none; background: none; }
.tribe-events-event-meta .tribe-events-meta-group, .tribe-events-event-meta .column { padding-right: 0;}
.featured #tribe-events-gmap { display: none; }
#date-script { margin-top: 30px; }
#create-event { width: 100%; text-align: right; margin-bottom: 15px;  }
body.create-event .wider { width: 280px; }


#imc-event-form { margin-top: 15px; }
#imc-event-form label { margin-bottom: 15px; display: block; }
#imc-event-form .date-picker { cursor: pointer; }
.extra-text { margin: 5px 0 0 130px; display: block; font-style: italic; }
.ui-datepicker-calendar th { background: #ffce31!important; }
.ui-datepicker-calendar th span { background: none!important; color: #000!important; }


body.single-tribe_events .tribe-events-event-meta .tribe-events-meta-group, .tribe-events-event-meta .column { width: 100%; }
body.single-tribe_events dl { width: 33%; display: inline-block; }

.create-event .media-frame-title { background: #FFCE2F; }
.create-event .media-router a:last-child { display: none; }
.create-event .active { background: none!important; }
.create-event .attachment { display: none; }
.create-event .selected { display: block; }
.create-event .media-toolbar-primary input[type="search"] { display: none; }
.create-event .ui-state-highlight { background: #ffce31!important; border: 1px solid #F0B700!important; }


.create-event .media-frame input[type=email], .create-event .media-frame input[type=number], .create-event .media-frame input[type=password], 
    .create-event .media-frame input[type=search], .create-event .media-frame input[type=text], .create-event .media-frame input[type=url], 
    .create-event .media-frame select, .create-event .media-frame textarea { color: #000!important; }
.create-event #imc_image_preview { margin: 20px 0; }
.single-tribe_events #tribe-events-gmap, .tribe-filter-live .tribe-events-gmap, .tribe-filter-live .tribe-events-address { display: none!important; }
.single.tribe-filter-live  .tribe-events-address { display: block!important; }
.tribe-filter-live .tribe-events-venue-details { color: #efefef; }
#event-specials { margin-top: 40px; color: #000; }
.tribe-events-list .vevent.hentry { vertical-align: top; }
.tribe-events-viewmore { border-top: none; }
.create-event-button { background: #ffce31; padding: 8px 10px; color: #000!important; }
.single-tribe_events #tribe-events-footer, .tribe-events-day #tribe-events-footer, .events-list #tribe-events-footer, .tribe-events-map #tribe-events-footer, .tribe-events-photo #tribe-events-footer { border-top: none; }
#event-map { float: right; vertical-align: top; }

.tribe-events-loop.hfeed.vcalendar .vevent { width: 100%!important; }
.tribe-events-nav-next.tribe-events-nav-right { margin-top: 15px!important; }



/* BLOG */

.imc-blog .tm-content { text-align: center; max-width: 100%!important; width: 100%!important; }
#blog-container { display: inline-block; padding: 20px; /*background: rgba(255,255,255,0.9); border-radius: 15px; */}
#blog-container .blog-interior { background: rgba(255,255,255,0.9); padding: 20px;  margin: -60px 0 100px 0; color: #000; border-radius: 15px; }
.blog-interior * { color: #000; }
#blog-container > * { width: 70%; text-align: left; display: inline-block;  }
#blog-container > img, .imc-blog .tm-content #blog-container > h2 { width: 100%; }


/* Slider */

.slider-row label { display: block; margin: 10px 0;}
.slider-row .label { display: inline-block; width: 100px; }
#paid-slider-wrapper { position: relative; min-height: 588px; }
.paid-slider { width: 100%; max-width: 1130px; position: absolute; }
.paid-slider img { width: 100%; margin-top: -257px; }
.paid-slider-content { background: #009dd7; border-radius: 0 0 15px 15px; color: #fff; width: 100%; float: right; min-height: 217px; }
.paid-slider-content h2 { font-size: 2.7em; margin: 0; padding: 15px 15px 0 15px; color: #fff; font-weight: 700; }
.paid-slider-content span.smaller { font-size: .5em!important; }
.paid-slider-content #hh-hours { float: right; }
.paid-slider h3 { color: #fff; font-size: 1.7em; line-height: normal; vertical-align: top; margin-top: 15px; text-align: center; padding-bottom: 15px; }
.paid-slider-specials, .paid-slider-hh { width: 40%; display: inline-block; padding: 5px 15px 0 15px; }
.paid-slider .image-container { max-height: 350px; border-radius: 15px 15px 0 0; overflow: hidden; }
.paid-slider img.food-icon { width: 75px!important; position: absolute; margin: -50px 20px 0 0; right: 0;  }
label span.label-active { display: inline-block; margin: 20px 10px 0 0; }

.home #venue-this-week .icon { margin-top: -50px; }
.home #venue-this-week .title { margin-top: 10px; }
.home .home-event { background: #efefef; border-radius: 15px; width: 100%;  margin-top: 45px; }
.home .home-event h2 { color: #fff; height: 1.8em; margin-bottom: 0; text-align: center; }
.home .home-event a:hover { text-decoration: none; }
.home .home-event .orange-text { margin-bottom: 40px!important; }
.home #venue-events { padding: 20px 20px 40px 20px; }
.home .home-event > div > div { width: 46%; display: inline-block; padding: 5px; margin-right: 25px; box-sizing: border-box; vertical-align: top; }
.home .events-list { background: #FEBA12; padding: 20px; color: #fff; border-radius: 0 0 15px 15px; }
.home .excerpt { color: #efefef!important; margin: 0; font-size: 1.4em; line-height: 1.4em; letter-spacing: .8px; font-weight: 300;}
.home .home-event-image { width:25%; float: right; margin: 0 0 15px 15px; padding: 3px; background: #efefef; }